<div class="container">

<!-- top row -->
 <div class="row text-center">
   <div class="card border-danger mb-3 col-md-3">
    <div class="card-header">Moisture</div>
    <div class="card-body text-danger">
      <h4 id="waterLevel" class="card-title"></h4>
    </div>
   </div>
  <div class="card border-danger mb-3 col-md-3">
   <div class="card-header">Light</div>
   <div class="card-body text-danger">
    <h4 id="lightLevel" class="card-title"></h4>
   </div>
  </div>
</div>
<!-- end top row -->
<!-- second row -->
<div class="row text-center">
<div class="col-md-5"></div>
<div class="card border-success mb-3 col-md-2">
  <div class="card-header">Tempature</div>
  <div class="card-body text-success">
    <h4 id="temp" class="card-title"></h4>
  </div>
</div>

<div class="card border-warning mb-3 col-md-2">
  <div class="card-header">Humidity</div>
  <div class="card-body text-warning">
    <h4 id="humidity" class="card-title"></h4>
  </div>
</div>
</div>
<!-- end second row -->
</div>
